@page "/inventory"
@rendermode InteractiveServer

@using AGDPMS.Shared.Models
@using AGDPMS.Shared.Services
@using System.ComponentModel.DataAnnotations

@* @attribute [Authorize(Roles = "Admin")] *@

@inject IInventoryService inventoryService

<PageTitle>Inventory</PageTitle>

<h3>Quản lý kho</h3>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="fw-bold py-3 mb-0"><span class="text-muted fw-light">Quản lý /</span> Kho </h4>
    <div>
        <button class="btn btn-secondary me-2">
            <i class="bx bx-user me-1"></i> Quản lý Khách hàng
        </button>
        <button class="btn btn-primary">
            <i class="bx bx-plus me-1"></i> Tạo mới Dự án
        </button>
    </div>
</div>

<div class="mb-3">
    <input type="search" class="form-control" placeholder="Tìm kiếm theo mã hoặc tên"
           value="@searchTerm" @oninput="Search" />
    <select class="form-control" @oninput="Select">
        @for (int i = 0; i < material_types.Count(); i++)
        {
            <option>@material_types.ElementAt(i).Name</option>
        }
    </select>
</div>

<div class="card">
    <h5 class="card-header">Danh sách vật tư</h5>
    <div class="table-responsive text-nowrap">
        @if (isLoading)
        {
            <div class="p-3">Đang tải dự án...</div>
        }
        @if (materials == null || !materials.Any())
        {
            <div class="p-3">Không tìm thấy vật tư nào.</div>
        }
        @if (loadError)
        {
            <div class="p-3">Lỗi tải dự án</div>
            <div class="p-3">@m_res.ErrorMessage</div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên</th>
                        <th>Loại vật tư</th>
                        @* <th>Kg/m</th> *@
                        <th>Kích thước</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach(Material m in items)
                    {
                        <tr>
                            <td rowspan="@(@m.Stock.Count() + 1)">@m.Id</td>
                            <td rowspan="@(@m.Stock.Count() + 1)">@m.Name</td>
                            <td rowspan="@(@m.Stock.Count() + 1)">@m.Type.Name</td>
                            @* <td>@m.Stock</td> *@
                            @* <td>@m.Weight</td> *@
                        </tr>
                        @foreach(MaterialStock ms in m.Stock)
                        {
                            <tr>
                                <td>@ms.Length</td>
                                <td>@ms.Stock</td>
                                <td>@ms.BasePrice</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<hr />

@code {
    private GetMaterialResult m_res = null;
    private GetMaterialTypeResult mt_res = null;
    private bool loadError = false;
    private bool isLoading = true;
    private string searchTerm = string.Empty;
    private string select_value = string.Empty;
    private IEnumerable<Material> materials = new List<Material> { };
    private IEnumerable<MaterialType> material_types = new List<MaterialType> { };
    private Material[] items = new Material[] { };
    private System.Threading.Timer? searchTimer;
    private int currentPage = 1;
    private int pageSize = Int32.MaxValue;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        mt_res = await inventoryService.GetMaterialType();
        if (mt_res.Success)
        {
            material_types = mt_res.MaterialTypes;
            // select_value = 
        }
        m_res = await inventoryService.GetMaterial();
        if (m_res.Success)
        {
            materials = m_res.Materials;
            items = materials.ToArray();
        }
        else
        {
            loadError = true;
        }
        isLoading = false;
        StateHasChanged();
    }

    private void Search(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString() ?? string.Empty;
        // searchTimer?.Dispose();
        searchTimer = new System.Threading.Timer(PerformSearch, null, 100, Timeout.Infinite);
    }

    private void Select(ChangeEventArgs e)
    {
        select_value = e.Value?.ToString();
        searchTimer = new System.Threading.Timer(PerformSearch, null, 100, Timeout.Infinite);
    }

    void PerformSearch(object? state)
    {
        items = materials
        .Where(m => (m.Name.Contains(searchTerm) || m.Id.Contains(searchTerm)) && m.Type.Name == select_value)
        .Skip((currentPage - 1) * pageSize)
        .Take(pageSize)
        .ToArray();
        InvokeAsync(StateHasChanged);
    }
}